<!--
Setup kinematics simulation of Motoman GP7.
-->

<launch>

  <arg name="jsdev" default="/dev/input/js0" />
  <include file="$(find ay_util)/launch/motoman/motoman_gp7_cmn.launch">
    <arg name="jsdev"  value="$(arg jsdev)" />
  </include>

  <node pkg="ay_util" type="dummy_robot.py"
        name="moto_dummy" output="screen"
        args="100" >
    <remap from="follow_joint_trajectory" to="joint_trajectory_action" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
