<!--
Setup real robot of Motoman SIA10f.
-->

<launch>

  <arg name="jsdev" default="/dev/input/js0" />
  <include file="$(find ay_util)/launch/motoman/motomansia10f_cmn.launch">
    <arg name="jsdev"  value="$(arg jsdev)" />
  </include>

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(optenv MOTOMAN_CTRL fs100).launch">
    <arg name="robot_ip"   value="$(optenv MOTOMAN_IP 192.168.12.31)" />
  </include>

</launch>
