<!--
Setup kinematics simulation of Motoman SIA10f.
-->

<launch>

  <include file="$(find ay_util)/launch/mikata/mikata_cmn.launch"/>

  <node pkg="ay_util" type="dummy_robot.py"
        name="mikata_dummy" output="screen"
        args="100" />

  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
