<!--
Setup real robot of UR3e.
UR3e should be powered on before running this.
-->

<launch>

  <arg name="robot_ip" default="ur3ea" />
  <arg name="kinematics_config" default="$(env HOME)/data/calib/ur/ur3ea_calibration.yaml" />

  <!--<include file="$(find ur_modern_driver)/launch/ur3e_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>-->
  <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="kinematics_config" value="$(arg kinematics_config)" />
  </include>

  <!--State validity checker:-->
  <include file="$(find ay_util)/launch/ur/ur_state_validity_checker.launch"/>

  <!--Joy stick-->
  <arg name="jsdev" default="/dev/input/js1" />
  <node pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="$(arg jsdev)" />
  </node>

</launch>
