<!--
Choose a proper launcher of UR from the robot code.
Since this uses eval in if, it works with Kinetic+.
-->
<launch>

  <arg name="robot_code" default="" />
  <arg name="jsdev" default="/dev/input/js1" />
  <arg name="dxldev" default="/dev/ttyUSB0" />
  <arg name="gripper_modbus_uri" default="10.10.6.207" />
  <arg name="geh_auto_mode_sw" default="true" />
  <arg name="with_gripper" default="true" />

  <arg     if="$(eval robot_code.endswith('_SIM'))" name="is_sim" value="true" />
  <arg unless="$(eval robot_code.endswith('_SIM'))" name="is_sim" value="false" />

  <!--Uploading the parameters to the server-->
  <rosparam subst_value="True">
    robot_code: $(arg robot_code)
    jsdev: $(arg jsdev)
    dxldev: $(arg dxldev)
    with_gripper: $(arg with_gripper)
    gripper_modbus_uri: $(arg gripper_modbus_uri)
    geh_auto_mode_sw: $(arg geh_auto_mode_sw)
    is_sim: $(arg is_sim)
  </rosparam>

  <!--Launch a robot arm controller-->

  <group if="$(eval robot_code.startswith('UR3') and not robot_code.startswith('UR3e'))">
    <include file="$(find ay_util)/launch/ur/ur3_real.launch" unless="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
    <include file="$(find ay_util)/launch/ur/ur3_ksim.launch" if="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
  </group>

  <group if="$(eval robot_code.startswith('UR3e') and not robot_code.startswith('UR3e125hz'))">
    <include file="$(find ay_util)/launch/ur/ur3e_real.launch" unless="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
    <include file="$(find ay_util)/launch/ur/ur3e_ksim.launch" if="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
  </group>
  <group if="$(eval robot_code.startswith('UR3e125hz'))">
    <include file="$(find ay_util)/launch/ur/ur3e_125hz_real.launch" unless="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
    <include file="$(find ay_util)/launch/ur/ur3e_ksim.launch" if="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
  </group>

  <group if="$(eval robot_code.startswith('UR5e'))">
    <include file="$(find ay_util)/launch/ur/ur5e_real.launch" unless="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
    <include file="$(find ay_util)/launch/ur/ur5e_ksim.launch" if="$(arg is_sim)">
      <arg name="jsdev" value="$(arg jsdev)" />
    </include>
  </group>


  <!--Launch a gripper controller-->
  <group if="$(arg with_gripper)">
    <include file="$(find ay_util)/launch/robot_gripper_selector.launch">
      <arg name="robot_code" value="$(eval robot_code.replace('_SIM',''))" />
      <arg name="dxldev" value="$(arg dxldev)" />
      <arg name="is_sim" value="$(arg is_sim)" />
      <arg name="gripper_modbus_uri" value="$(arg gripper_modbus_uri)" />
      <arg name="geh_auto_mode_sw" value="$(arg geh_auto_mode_sw)" />
    </include>
  </group>

</launch>
