<!--
Choosing a launcher of gripper from the gripper type.
-->
<launch>

  <arg name="gripper_type" default="" />
  <arg name="dxldev" default="/dev/ttyUSB0" />
  <arg name="is_sim" default="false" />

  <!--Decompose gripper_type into gripper_type and finger_type.-->
  <arg unless="$(eval '_' in gripper_type)" name="gripper_type2" value="$(arg gripper_type)" />
  <arg unless="$(eval '_' in gripper_type)" name="finger_type"   value="''" />
  <arg     if="$(eval '_' in gripper_type)" name="gripper_type2" value="$(eval gripper_type.split('_')[0] )" />
  <arg     if="$(eval '_' in gripper_type)" name="finger_type"   value="$(eval gripper_type.split('_')[1] )" />

  <!--Uploading the parameters to the server-->
  <rosparam subst_value="True">
    gripper_type: $(arg gripper_type2)
    dxldev: $(arg dxldev)
    is_sim: $(arg is_sim)
    finger_type: $(arg finger_type)
  </rosparam>

  <!--Launch the gripper driver node-->
  <node pkg="ay_util" type="dxlg_driver.py" name="gripper_driver" output="screen">
    <param name="dxldev" value="$(arg dxldev)"/>
    <param name="gripper_type" value="$(arg gripper_type2)"/>
    <param name="finger_type" value="$(arg finger_type)"/>
    <param name="is_sim" value="$(arg is_sim)"/>
  </node>

</launch>
