<!--
Choose a script of gripper for a robot from the robot code and run a command.
Since this uses eval in if, it works with Kinetic+.
-->
<launch>

  <arg name="robot_code" default="" />
  <arg name="dxldev" default="/dev/ttyUSB0" />
  <arg name="command" default="Reboot" />  <!--Options: EnableTorque, DisableTorque, Reboot, FactoryReset.-->

  <!--NOTE:Changed to use the gripper ThGA with the newer protocol (A) even for
      an older robot_code ending with ThG.
      In case we want to use both versions, replace this by RHP12RNGripper. -->
  <arg name="gripper_type" value="$(eval
        'DxlG' if robot_code.endswith('DxlG') else
        'ThGA' if robot_code.endswith('ThG') else
        'ThGA' if robot_code.endswith('ThGA') else
        'DxlpO2_Straight1' if robot_code.endswith('DxlpO2_Straight1') else
        'DxlpO2_SRound1'   if robot_code.endswith('DxlpO2_SRound1')   else
        'DxlpO2_Fork1'     if robot_code.endswith('DxlpO2_Fork1')     else
        'DxlpY1'           if robot_code.endswith('DxlpY1')           else
        'DxlO3'            if robot_code.endswith('DxlO3')            else
        ''  )" />

  <group if="$(eval gripper_type!='')">
    <include file="$(find ay_util)/launch/gripper_reboot.launch">
      <arg name="gripper_type" value="$(arg gripper_type)" />
      <arg name="dxldev" value="$(arg dxldev)" />
      <arg name="command" value="$(arg command)" />
    </include>
  </group>

</launch>
